.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.footer {
  background: black;
  color: white;
  height: 20vh;
  text-align: center;
}
